<div class="form-box">
  <h2 class="text-center text-white">Sign up</h2>
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), data: {turbo: false }) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>
    <div class="field">
      <%= f.label :name, class: "text-white mb-2 fw-bolder" %><br />
      <%= f.text_field :name, autofocus: true, autocomplete: "Name", class: "form-control" %>
    </div>
    <div class="field">
      <%= f.label :email, class: "text-white mb-2 fw-bolder" %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
    </div>
    <div class="field">
      <%= f.label :password, class: "text-white mb-2 fw-bolder" %>
      <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %> characters minimum)</em>
      <% end %><br />
      <%= f.password_field :password, autocomplete: "new-password", class: "form-control" %>
    </div>
    <div class="field">
      <%= f.label :password_confirmation, class: "text-white mb-2 fw-bolder" %><br />
      <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control" %>
    </div>
    <div class="actions">
      <%= f.submit "Sign up", class: "btn btn-primary mt-4" %>
    </div>
  <% end %>
  <div class="form-link">
    <%= render "devise/shared/links" %>
  </div>
</div>
