<section class='publicRecipe'>
  <h2 class="food-table text-center my-4">Public Recipes</h2>
  <% if @recipes.length == 0 %>
    <p>There are no public recipes yet.</p>
  <% else %>
    <div class="publicBox">
      <%@recipes.each do |recipe|%>
        <article class="card mb-4" style="width: 20rem">
          <div class="card-body">
            <div class="card-header">
              <%=link_to recipe_path(id: recipe.id), class: "text-decoration-none" do%>
                <p class="card-title fs-4"><%=recipe.name%></p>
                <p class="card-title">By: <%=recipe.user.name%></p>
              <%end%>
            </div>
            <p class="fw-bolder">Total food items: <%=recipe.recipe_foods.length%></p>
            <%total_price = 0%>
            <%recipe.recipe_foods.each do |recipe_food|%>
              <%price = recipe_food.quantity* recipe_food.food.price%>
              <%total_price = total_price + price%>
            <%end%>
            <p class="fw-bolder">Total price: $<%=total_price%></p>
          </div>
        </article>
      <%end%>
    </div>
  <%end%>
</section>
