<h1>Recipe Details</h1>
<section class = "">
<div class="box">
  <div class="box1">
    <p>Preparation_time: <strong><%=  @recipe.Preparation_time%></strong></p>
    <p>Cooking_time: <strong><%= @recipe.Cooking_time%></strong></p>
    <p>Description: <strong><%= @recipe.Description%></strong></p>
  </div>
  <div class="box2">
    <p>Public: <strong><%= @recipe.Public%></strong></p>
  </div>
</div>
   <% if can? :read, @recipe %>
     <div class="recipe-details-btn-wrapper flex">
       <%= link_to "Generate shopping list", general_shopping_list_path(@user, @recipe), class: 'details-btn'%>
       <%# <%= link_to "Add Ingredient", new_recipe_recipe_food_path(@recipe), class: 'details-btn'%>
    </div>
   <% end %>
   <table class='food_table'>
    <tr>
       <th>Food</th>
       <th>Quantity</th>
       <th>Value</th>
       <th>Action</th>
    </tr>
    
    <% @recipe_foods.each do |recipe_food| %>
        <tr>
              <td> <%= recipe_food.food.name %> </td>
              <td> <%= recipe_food.quantity %> </td>
              <td>$ <%= recipe_food.quantity * recipe_food.food.price %> </td>
              
              <td> <%= link_to 'Modify', edit_recipe_recipe_food_path( @recipe, recipe_food) %> | 
                <%= button_to "Delete", recipe_recipe_food_path(@recipe, recipe_food), method: :delete%>  
              </td>
         </tr>
    <% end %>
   </table>
</section>