<section class = "foodShow">
  <%= link_to "< Back", foods_path, class:"btn btn-primary" %>
  <div class="foodShowDiv">
    <h2 class="text-center text-decoration-underline mb-4">Food Information</h2>
    <p>Food Name: <strong><%= @food.name%></strong></p>
    <p>Measurment Unit: <strong><%=  @food.measurement_unit%></strong></p>
    <p>Quantity: <strong><%= @food.price%></strong></p>
    <p>Unit Price: <strong><%= @food.quantity%></strong></p>
  </div>
</section>
